*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    font-family: 'Poppins';
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.mainBox{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 310px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    padding-bottom: 8px;
    position: relative;
    color: white;
}

.mainBox::before{
    content: '';
    background-color: black;
    position: absolute;
    inset: 0;
    opacity: 0.65;
    border-radius: 10px;
}

.mainBox #temp{
    align-items: center;
    font-size: 90px;
    font-weight: bold;
    isolation: isolate;
}

.mainBox #city{
    border-top: 3px solid white;
    isolation: isolate;
    font-size: 36px;
    text-align: center;
}

.bodyBox{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 310px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    padding-bottom: 8px;
    position: relative;
}

.bodyBox::before{
    background-color: black;
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.65;
    border-radius: 10px;
}

.box{
    align-items: center;
    border: 3px solid white;
    border-radius: 10px;
    margin-top: 5px;
    height: 50px;
    width: 294px;
    font-size: x-large;
    font-weight:bold;
    text-align: center;
    color: whitesmoke;
    isolation: isolate;
}

.box #description{
    text-transform:capitalize;
}

.footerBox{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

button{
    margin-left: auto;
    margin-right: auto;
    width: 294px;
    color: white;
    background-color: rgba(0, 0, 0, 0.90);
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
}

button.geoloc{
    height: 30px;
}

button.search{
    height: 40px;
}

button:hover{
    background-color: rgb(61, 61, 61);
}

form{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border: none;
}

input{
    width: 294px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    font-size: large;
    border: 3px solid black;
}

input::placeholder{
    text-align: center;
    font-size: large;
}